.homeHeader {
  margin-bottom: 227px;

  @media (max-width: 430px) {
    margin-bottom: 100px;
  }
}

.homeHeaderTitle {
  margin-bottom: 30px;
  font-size: 72px;
  text-align: center;
  color: white;
  font-family: Inter;
  font-weight: 800;

  @media (max-width: 780px) {
    font-size: 40px;
  }
}

.homeHeaderDescription {
  text-align: center;
  margin:  0 auto 90px;
  width: 100%;
  max-width: 841px;
  color: white;
  font-family: Inter;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.8;
}

.homeHeaderBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  margin: 0 auto;

  @media (max-width: 430px) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }

  button {
    padding: 15px 27px 13px 26px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 12px;

    @media (max-width: 430px) {
      width: 100%;
    }
  }
}

.homeHeaderBtn1 {
  border: 1px solid #616055;
  background: #3c3a2b;
  color: white;
}

.homeHeaderBtn2 {
  background: rgba(217, 217, 217, 0.90);
  backdrop-filter: blur(10px);
  color: black;
}