.aboutHeaderContainer {
  width: 100%;
  max-width: 1047px;
  margin: 0 auto 200px;

  @media (max-width: 780px) {
    margin-bottom: 40px;
  }
}

.aboutHeaderTitle {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 60px;

  @media (max-width: 780px) {
    font-size: 40px;
  }
}

.aboutHeaderStepsContainer {
  display: flex;
  align-items: center;
  column-gap: 170px;

  @media (max-width: 430px) {
    flex-direction: column;
    column-gap: 0;
  }
}

.aboutHeaderStep {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 35%;
    right: -65%;
    height: 2px;
    border-top: 2px dashed white;
    width: 150px;

    @media (max-width: 780px) {
      display: none;
    }
  }
}

.aboutHeaderStepImage {
  margin-bottom: 60px;

  @media (max-width: 780px) {
    margin-bottom: 0;
  }
}

.aboutHeaderStepTitle {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 700;
}