.faqContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.faqTitle {
  text-align: center;
  margin-bottom: 40px;
  color: white;
  font-size: 72px;
  font-weight: 800;

  @media (max-width: 780px) {
    font-size: 40px ;
  }
}

.faqAccordion {
  border-radius: 24px !important;
  border: 2px solid rgba(255, 255, 255, 0.12) !important;
  background: rgba(255, 255, 255, 0.08) !important;
  padding: 20px 25px;
  margin-bottom: 25px;

  @media (max-width: 780px) {
    padding: 20px;
  }
}

.faqAccordionTitle {
  color: white;
  font-size: 30px;
  font-weight: 800;

  @media (max-width: 780px) {
    font-size: 18px;
  }
}

.faqAccordionDescription {
  color: white;
  font-size: 20px;
  font-weight: 600;
}